{% extends 'base.html' %}
{% from 'macros.html' import render_pagination %}
{% block body %}
   <!--left-->
     <div class="left" id="learn">
       <div class="weizi">
       <div class="wz_text">当前位置：<a href="{{ url_for('index') }}">首页</a>><h1>学无止境</h1></div>
       </div>
       <div class="l_content">
          <!--wz-->
       <div class="wz">
           {% for article in pagination.items %}
           {% if article.tag == '学无止境' %}
               <h3><a href="{{ url_for('detail', article_id=article.id) }}" title="{{ article.title }}">{{ article.title }}</a></h3>
                 <dl>
                   <dt><img src={{ url_for('static', filename="images/s.jpg") }} width="200"  height="123" alt=""></dt>
                   <dd>
                     <p class="dd_text_1">{{ article.content }}</p>
                   <p class="dd_text_2">
                   <span class="left author">{{ article.author }}</span><span class="left sj">{{ article.time }}</span>
                   <span class="left fl">分类:<a href="#" title="{{ url_for('learning') }}">学无止境</a></span><span class="left yd"><a href="{{ url_for('detail', article_id=article.id) }}" title="阅读全文">阅读全文</a></span>
                   </p>
                   <div class="clear"></div>
                   </dd>
                   <div class="clear"></div>
                 </dl>
           {% endif %}
        {% endfor %}
        </div>
       {{ render_pagination(pagination, 'learning') }}
       <!--wz end-->
       </div>
     </div>
{% endblock %}