{% macro render_form(form, url) %}
    <form method="POST" action="{{ url }}">
      <!-- 将 csrf_token 渲染在表单开始的位置 -->
      {{ form.csrf_token }}
      <!-- 迭代每个表单 field -->
      {% for field in form %}
        <!-- 如果是 csrf_token 就不再渲染了 -->
        {% if field.type == 'CSRFTokenField' %}
        {{ '' }}
        <!-- SubmitField 单独特殊处理 -->
        {% elif field.type == 'SubmitField' %}
        {{ form.submit(class='btn btn-primary', type='submit') }}
        <!-- BooleanField 单独特殊处理 -->
        {% elif field.type == 'BooleanField' %}
        <div class="checkbox">
          <label>{{ field() }} {{ field.label.text }}</label>
        </div>
        {% else %}
        <div class="form-group {% if field.errors %}has-error{% endif %}">
            {{ field.label }} {{ field(class='form-control') }}
            <!-- 当 errors 不为空，遍历显示每一个 error -->
            {% if field.errors %}
            {% for error in field.errors %}
            <!-- 根据 Bootstrap 样式错误信息要显示先类为 help-block 的 span 标签中-->
            <span class="help-block">{{ error }}</span>
            {% endfor %}
            {% endif %}
        </div>
        {% endif %}
      {% endfor %}
    </form>
{% endmacro %}
{% macro render_pagination(pagination, endpoint) %}
    <nav class="nav-pagination" aria-label="Page navigation" style="margin: 80px 0 0 10px;">
      <ul class=pagination>
      <!-- 链接到上一页的左箭头（&laquo;），如果没有上一页设为 disable 状态 -->
      <li{% if not pagination.has_prev %} class="disabled"{% endif %}><a href="{{url_for(endpoint, page=pagination.prev_num) if pagination.has_prev else '#'}}">&laquo;</a></li>
      <!-- 渲染每个页数的按钮 -->
      {% for page in pagination.iter_pages() %}
        {% if page %}
          {% if page != pagination.page %}
          <li><a href="{{ url_for(endpoint, page=page) }}">{{ page }}</a></li>
          {% else %}
          <!-- 如果页数是当前页，设置为选中状态 -->
          <li class="active"><a href="#">{{page}} <span class="sr-only">(current)</span></a></li>
          {% endif %}
        {% else %}
          <span class=ellipsis>…</span>
        {% endif %}
      {% endfor %}
       <!-- 链接到下一页的右箭头（&raquo;），如果没有下一页设为 disable 状态 -->
      <li{% if not pagination.has_next %} class="disabled"{% endif %}><a href="{{url_for(endpoint, page=pagination.next_num) if pagination.has_next else '#'}}">&raquo;</a></li>
      </ul>
    </nav>
{% endmacro %}