{% extends 'base.html' %}
{% from 'macros.html' import render_pagination %}
{% block admin_head %}
    <li class="dropdown right">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ session.get('user_name') }}<span class="caret"></span></a>
      <ul class="dropdown-menu">
      <a style="width:65px;margin: 0 auto" href="{{ url_for('logout') }}">退出登录</a>
      </ul>
    </li>
{% endblock %}
{% block body %}
<hr>
<div class="row" style="width:1000px;height:420px;margin:0 auto">
  <div class="col-md-3" style="width: 25%;">
    <h2>&nbsp&nbsp管&nbsp&nbsp&nbsp理</h2>
    <div class="list-group">
      <a href="{{ url_for('user') }}" class="list-group-item"><span>用户管理</span></a>
      <a href="{{ url_for('article') }}" class="list-group-item">文章管理</a>
    </div>
    <div>
{#        <a href="#" type="button" class="btn btn-primary">#}
{#          <span class="glyphicon glyphicon-plus" aria-hidden="true">添加管理员</span>#}
{#        </a>#}
        <a href="{{ url_for('add_article') }}" type="button" class="btn btn-primary">
          <span class="glyphicon glyphicon-plus" aria-hidden="true">添加文章</span>
        </a>
    </div>
  </div>
  <div class="col-md-9" style="margin-left:110px;margin-top:5px;width:64%;">
{#        <h3>文章列表</h3>#}
{#        <hr>#}
{#        <div>#}
{#           <table class="table">#}
{#              <thead>#}
{#                <tr>#}
{#                  <th>ID</th>#}
{#                  <th>名称</th>#}
{#                  <th>作者</th>#}
{#                  <th>类型</th>#}
{#                  <th>操作</th>#}
{#                </tr>#}
{#                <tbody>#}
{#                  {% for article in pagination.items %}#}
{#                  <tr>#}
{#                    <td>{{ article.id }}</td>#}
{#                    <td>{{ article.title }}</td>#}
{#                    <td>{{ article.author }}</td>#}
{#                    <td>{{ article.tag }}</td>#}
{#                    <td>#}
{#                      <div class="btn-group" role="group">#}
{#                        <a href="{{ url_for('edit_article', article_id=article.id) }}" type="button" class="btn btn-default" title="编辑">#}
{#                          <span class="glyphicon glyphicon-pencil" title="编辑" aria-hidden="true"></span>#}
{#                        </a>#}
{#                        <a href="{{ url_for('del_article', article_id=article.id) }}" type="button" class="btn btn-default" title="删除">#}
{#                          <span class="glyphicon glyphicon-trash" title="删除" aria-hidden="true"></span>#}
{#                        </a>#}
{#                      </div>#}
{#                    </td>#}
{#                  </tr>#}
{#                  {% endfor %}#}
{#                </tbody>#}
{#              </thead>#}
{#            </table>#}
{#        </div>#}
{#        {{ render_pagination(pagination, 'content') }}#}
{#  </div>#}
{#  <img style="opacity:0.4;" src="{{ url_for('static', filename='images/admin.jpg') }}"#}
</div>
{% endblock %}
{% block right %}{% endblock %}
